@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --color-text-base: #5c728a;
    --color-bg-primary: #edf1f5;
    --color-bg-secondary: #fafcfc;
    --color-bg-tertiary: #eff7fb;
  }
} */

.info {
  color: var(--info-color);
}

.infoHover:hover {
  color: var(--hover-color);
}

.genre {
  background: var(--genre-color);
}

.poster::before {
  background: var(--poster-color);
}
